# Dependencies
node_modules

# Build outputs
dist
build
.vite

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode
.idea

# Cache
.cache
.temp
